VITE_APPWRITE_PROJECT_ID = Appwrrite_Project_Id
VITE_APPWRITE_PROJECT_NAME = Your_Project_Name
VITE_APPWRITE_ENDPOINT = https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_BUCKET_ID = Appwrrite_Bucket_Id
VITE_APPWRITE_DATABASE_ID = Appwrrite_Database_Id
VITE_APPWRITE_TABLE_ID = Appwrrite_Table_Id
APPWRITE_API_KEY = Appwrrite_API_KEY
VITE_RTE_API_KEY = TINY_MCE_API_KEY
VITE_APPWRITE_USERS_COLLECTION_ID = users
VITE_APPWRITE_CLUB_REQUESTS_COLLECTION_ID = club_requests
VITE_APPWRITE_CLUBS_COLLECTION_ID = clubs
VITE_APPWRITE_CLUB_MEMBERS_COLLECTION_ID= club_members
VITE_APPWRITE_JOIN_REQUESTS_COLLECTION_ID= join_requests
VITE_APPWRITE_POSTS_COLLECTION_ID= posts
VITE_APPWRITE_REGISTRATIONS_COLLECTION_ID= registrations